<html>
    <body>
    <form action="/login" method="POST">
        Email: <input type="text" name="email">
        Password: <input type="text" name="password">
        Submit: <input type="submit" name="submit">
    </form>
    </body>
</html>